<!-- Bottom features -->
<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-12 mx-auto flex justify-center">
        <div class="space-y-6 text-center">
            <!-- Title -->
            <h1 class="mt-4 text-3xl font-semibold text-gray-800 dark:text-white">Более 5 лет делаю массаж</h1>
            <!-- Description -->
            <p class="mt-2 text-gray-500 dark:text-gray-400">Успешно применяю в своей работе современные массажные техники. В моем активе – сотни пациентов, сохранивших и восстановивших здоровье и качество жизни.
    После вашего обращения я быстро определю проблему и построю оптимальный протокол сеанса массажа.</p>
            <!-- Link -->
            <div class="flex justify-center">
                <button type="button" 
                    class="text-white bg-gradient-to-r from-blue-700 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-md hover:shadow-lg hover:shadow-blue-500/50 shadow-blue-500/50 dark:shadow-md dark:shadow-blue-800/80 dark:hover:shadow-blue-800/80 font-medium rounded-lg text-sm px-4 py-2 text-center flex items-center justify-center">
                    Подробнее обо мне
                </button>
            </div>
        </div>
    </div>
</section>