<section class="bg-white dark:bg-gray-900" id="top_features">
    <div class="container px-6 py-12 mx-auto">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div>
                <%= heroicon 'academic-cap', class: 'w-8 h-8 text-gray-300'%>

                <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">Образование</h1>

                <p class="mt-2 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim fusce tortor, ac sed malesuada blandit. Et mi gravida sem feugiat.</p>
            </div>

            <div>
                <%= heroicon 'globe-alt', class: 'w-8 h-8 text-gray-300'%>

                <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">Международный опыт</h1>

                <p class="mt-2 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim fusce tortor, ac sed malesuada blandit. Et mi gravida sem feugiat.</p>
            </div>

            <div>
                <%= heroicon 'face-smile', class: 'w-8 h-8 text-gray-300'%>

                <h1 class="mt-4 text-xl font-semibold text-gray-800 dark:text-white">Довольные пациенты</h1>

                <p class="mt-2 text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim fusce tortor, ac sed malesuada blandit. Et mi gravida sem feugiat.</p>
            </div>
        </div>
    </div>
</section>