
<section class="bg-gradient-to-bl from-gray-800 to-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <!-- Title -->
        <h1 class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white mb-10">Обо мне</h1>
        
        <div class="flex justify-center">
            <iframe id="ytplayer" type="text/html" class="w-full sm:w-1/2 h-[360px] aspect-auto"
              src="https://www.youtube.com/embed/V3hHMHShRCM"
              frameborder="0">
            </iframe>
        </div>
    </div>
</section>