<!-- Content links list -->
<!-- Home -->
<li>
    <%= nav_tab 'Главная', root_path, 
      class: link_class, current_page: current_page, 
      data: { turbo_frame: '_top'} %>
</li>
<li>
    <%= nav_tab 'Обо мне', root_path, 
      class: link_class, current_page: current_page, 
      data: { turbo_frame: '_top'} %>
</li>
<li>
    <%= nav_tab 'Курсы', root_path, 
      class: link_class, current_page: current_page, 
      data: { turbo_frame: '_top'} %>
</li>
<li>
    <%= nav_tab 'Контакты', root_path, 
      class: link_class, current_page: current_page, 
      data: { turbo_frame: '_top'} %>
</li>
