
<!-- Instagram -->
<li>
    <%= link_to 'https://www.instagram.com/massage_from_israel/?r=nametag', 
        class: "rounded-full hover:shadow-lg hover:shadow-gray-400 hover:shadow-gray-200 text-white" do %>
        <i class="fa-brands fa-instagram fa-xl"></i>
    <% end %>
</li>
<!-- Facebook -->
<li>
    <%= link_to 'https://www.facebook.com/Vladimir.Malakutsk', 
        class: "rounded-full hover:shadow-lg hover:shadow-gray-400 hover:shadow-gray-200 text-white" do %>
        <i class="fa-brands fa-facebook fa-xl"></i>
    <% end %>
</li>
